{% extends sonata_block.templates.block_base %}

{% block block %}
    <h3 class="sonata-feed-title margin-15">{{ settings.title }}</h3>
    <h4 class="sonata-feed-title margin-15">{{ settings.description }}</h4>

    <div>
        <div class="margin-bottom-30">
            {% for img in gallery.galleryHasMedias %}
                {% if loop.index <= settings.nrPhotos %}
                    <img style="width: 150px; height: 150px" src="{% path img.media, 'reference' %}">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
