/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
# IDE settings
.buildpath
.externalToolBuilders/
.project
.settings/
/.idea/

# Excluding unwanted files
.DS_Store

*~