{% extends 'base.html.twig' %}

{% block body %}
    My first awesome page

    {% for block in page.blocks %}
        <div>
            {{ sonata_block_render(block) }}
        </div>
    {% endfor %}

{% endblock %}