.row {
    margin: 0;
}
.header {
    width: 100%;
    height: 100px;
    margin: 0;
    background-color: rosybrown;
}

.header img {
    height: 100px;
}

.margin-15 {
    margin: 15px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}

.content-top {
    background-color: darkseagreen;
}

.content {
    background-color: whitesmoke;
}

.content-bottom {
    background-color: grey;
}

.footer {
    background-color: lightgrey;
}

.list-group {
    color: red;
    font-size: 20px;
}

header {
    visibility: hidden;
}